<div class="well">
  <div ng-controller="TestoviController as test">
      <h2>Unesi test</h2>
      <form name="TestAdd" class="form-horizontal">

          <div class="form-group">  
            <label class="col-sm-2" for="newtest_naziv">Naziv testa:</label>
            <div class="col-sm-12">
              <input 
                name="newtest_naziv"
                type="text" 
                ng-model="newtest_naziv"
                required
                novalidate
                class="form-control" 
                id="newtest_naziv" 
              />
            </div>
          </div>
       
        <button 
          ng-click="test.addTest(newtest_naziv)"
          type="submit" 
          class="btn btn-success btn-default">Send test
        </button>
      </form>
  </div>
</div>