<div class="well">
  <div ng-controller="TestoviController as test">
      <h2>Unesi zadatak</h2>

      <form name="ZadatakAdd" class="form-horizontal">
      
      <div class="form-group">
      <label class="col-sm-2" for="id_testa">Test:</label>
        <div class="col-sm-12">
          <select 
            name="test" 
            ng-model="test.id" 
            ng-options="test.id as test.naziv for test in $storage.testovi | unique:'test'"
            required 
            class="form-control" 
            id="test">
            <option selected disabled value="">---Izaberi test---</option>
          </select>
        </div>
      </div>

      <div class="form-group">
      <label class="col-sm-2" for="broj_zadatka">Broj zadatka:</label>
        <div class="col-sm-12">
          <input 
            name="broj_zadatka"
            type="number" 
            ng-model="broj_zadatka"
            required
            novalidate 
            class="form-control" 
            id="broj_zadatka" 
          />
        </div>
      </div>

      <div class="form-group">
      <label class="col-sm-2" for="naziv_zadatka">Naziv zadatka:</label>
        <div class="col-sm-12">
          <input 
            name="naziv_zadatka"
            type="text" 
            ng-model="naziv_zadatka"
            required
            novalidate 
            class="form-control" 
            id="naziv_zadatka" 
          />
        </div>
      </div>
          
      <div class="form-group">
       <label class="col-sm-2" for="tekst_zadatka">Tekst zadatka:</label>
       <div class="col-sm-12">
         <textarea 
            name="tekst_zadatka"
            ng-model="tekst_zadatka"
            required
            class="form-control" 
            rows="5" 
            id="comment">
         </textarea>
        </div>
      </div>


      <div class="form-group">
      <label class="col-sm-2" for="kod">Kod zadatka:</label>
       <div class="col-sm-12">
         <textarea 
           ng-model="kod"
           name="kod"
           class="form-control" 
           rows="20" 
           id="comment">
          </textarea>
        </div>
      </div>         
      
      <div class="form-group">
        <label class="col-sm-2" for="inputi">Inputi/outputi:</label>
        <span>Broj I/Oa : {{$storage.io.length}}<span>
        <div class="col-sm-12">
          <button type="button" class="btn btn-success" ng-click="test.addIO()">+</button>
          <span>
          <button 
            ng-click="test.send(kod, inputi)"
            type="button"
            ng-disabled="ZadatakAdd.kod.$invalid"
            class="btn btn-danger btn-default pull-right">Kompajliraj sve
          </button>
            <p></p>
            <li ng-repeat="io in $storage.io track by $index" style="list-style: none">
            {{$index+1}}
            <div class="row">
              <div class="col-sm-4"><textarea name="in" required novalidate class="form-control" type="text" ng-model="io.in"></textarea></div>
              <div class="col-sm-4"><textarea name="out" required novalidate class="form-control" type="text" ng-model="io.out"></textarea></div>
              <div class="col-sm-4 form-horizontal">
                <button class="btn btn-danger btn-xs" type="button" ng-click="test.delIO($index)">Obriši</button>
                <p></p>
                <button class="btn btn-warning btn-xs" type="button" ng-click="test.genOut(kod, io.in, $index)">Outputi</button>
              </div>
            </div>
            <br>
            </li>
        </div>
      </div>
     
      <button 
          ng-click="test.addZadatak('null', naziv_zadatka, tekst_zadatka, test.id, broj_zadatka)"
          ng-disabled="ZadatakAdd.$invalid"
          type="submit" 
          class="btn btn-success btn-default">Send zadatak
      </button>
    </form>

  </div>
</div>