<div class="main">
  <div class="failMessage" ng-show="loginSuccess">
      <div ng-if="loginSuccess " ng-init="admin.erorr()"></div>
  </div>

   <div class="container">
     <div class="jumbotron horizontal-center" ng-hide="$storage.loginSuccess">
        <div ng-hide="$storage.adminOn">
          <h2>Prijava administratora</h2>
          <br>
          <form name="formLgn" class="form-horizontal">
          <div class="form-group">
          <label class="control-label col-sm-2" for="ime">Username:</label>
              <div class="col-sm-10"">
                  <input 
                      name="ime"
                      type="text" 
                      ng-model="user.ime"
                      required
                      novalidate 
                      class="form-control" 
                      id="ime" 
                      placeholder="Admin username"
                  />
              </div>
          </div>
            
            <div class="form-group">
            <label class="control-label col-sm-2" for="password">Lozinka:</label>
              <div class="col-sm-10">
                  <input 
                      name="password"
                      type="password" 
                      ng-model="user.password" 
                      required 
                      novalidate
                      class="form-control"
                      id="password" 
                      placeholder="Admin lozinka"
                  />
              </div>
            </div>
          <button 
             ng-click="admin.send(user.ime, user.password)"
             ng-disabled="formLgn.$invalid"
             type="submit" 
             class="btn btn-success btn-default pull-right">Prijava
         </button>
          </form>
        </div>

        <div ng-show="$storage.adminOn">
          <h3>Admin postavke</h3>
            <div class="list-group">
              <a class="list-group-item" ng-click="admin.click('/admin/users')">Korisnici</a>
              <a class="list-group-item" ng-click="admin.click('/admin/testovi')">Testovi</a>
              <a class="list-group-item" ng-click="admin.click('/admin/logs')">Logovi</a>
              <a class="list-group-item" ng-click="admin.click('/admin/grades')">Pregled ocjena</a>
            </div>   
        </div>
      </div>
    </div>      
</div>
 
