<div class="main">
  <div class="failMessage" ng-show="adminOn == false">
    <div ng-if="adminOn == false" ng-init="task.error()"></div>
  </div>
  	
    <div class="container" ng-if="adminOn" ng-init="edit.init()">
      <div class="jumbotron horizontal-center">
        <div class="table-responsive">
        <h2>Popis korisnika: </h2>
        
        <form name="formLgn">
        <div class="form-group">
          <label for="usr">Trazi:</label>
          <input type="text" required class="form-control" ng-model="search.$"/>
        </div>
        </form>
        </div>

        
        <table style="text-align : left" class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Passowrd</th> 
            <th>Razred</th>
          </tr>
        </thead>
  
          <tbody>
              <tr ng-repeat="user in users | filter:search">
                <td>{{user.id}}</td>
                <td>{{user.ime}}</td>
                <td>{{user.prezime}}</td>
                <td>{{user.password}}</td>
                <td>{{user.razred}}</td>
              </tr>
            </tbody>
        </table>
    </div>
        <br>
  		</div>
  	</div>
  </div>
</body>
</html>