<div class="well">
  <div ng-controller="TestoviController as test">
    <h2>Uredi test "{{$storage.testovi[$storage.editID-1].naziv}}"</h2>
    <form name="TestAdd" class="form-horizontal">

        <div class="form-group">  
          <label class="col-sm-2" for="newtest_naziv">Naziv testa:</label>
          <div class="col-sm-12">
            <input 
              name="newtest_naziv"
              type="text" 
              ng-model="$storage.testovi[$storage.editID-1].naziv"
              required
              novalidate
              class="form-control" 
              id="newtest_naziv" 
            />
          </div>
        </div>
     
      <button 
        ng-click="test.editTest($storage.editID, $storage.testovi[$storage.editID-1].naziv)"
        type="submit" 
        class="btn btn-success btn-default">Send test
      </button>
    </form>
  </div>
</div>