<div class="main">
  <div class="failMessage" ng-show="$storage.adminOn == false">
    <div ng-if="$storage.adminOn == false" ng-init="task.error()"></div>
  </div>
  	
    <div ng-controller="GradesController as grades">
    <div class="container" ng-if="$storage.adminOn" ng-init="grades.init()">
      <div class="jumbotron horizontal-center">
        <div class="table-responsive">
        <h2>Popis ocijena: </h2>
        
        <form name="formLgn">
          <div class="form-group">
            <label for="usr">Trazi:</label>
            <input type="text" required class="form-control" ng-model="search.$">
          </div>
        </form>
        </div>
        
        <table style="text-align : left" class="table">
        <thead>
          <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Ime testa</th>
            <th>Bodovi</th>
            <th>Timestamp</th>
          </tr>
        </thead>
  
          <tbody>
              <tr ng-repeat="grade in $storage.gradesList | filter:search">
                <td>{{grade.ime}}</td>
                <td>{{grade.prezime}}</td>
                <td>{{grade.ime_testa}}</td>
                <td>{{grade.bodovi}}</td>
                <td>{{grade.timestamp}}</td>
              </tr>
            </tbody>
        </table>
    </div>
        <br>
  		</div>
  	</div>
</div>