<div class="main">

  <div class="failMessage" ng-show="$storage.loginSuccess == false">
    <div ng-if="$storage.loginSuccess == false " ng-init="login.error()"></div>
  </div>

  <div ng-controller="ListController as list" class="container-fluid task-center" ng-hide="$storage.loginSuccess == false || $storage.testDone == true">
    <div class="row">  
      <div class="col-sm-4">  
        <div class="jumbotron">
        <h2>Podaci o korisniku</h2>
        <br>
        <p>Ime i prezime: {{$storage.ime_prezime}}</p> 
        <p>Broj bodova: {{$storage.brojBodova}} / {{$storage.brojUkupnihBodova}}</p> 
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="$storage.postotakBodova"
            aria-valuemin="0" aria-valuemax="100" ng-style="{width: $storage.postotakBodova + '%'}">
          </div>
        </div>
        <button ng-click="list.finishTest($storage.ime,$storage.prezime,$storage.odabraniTest,$storage.brojBodova)" class="btn btn-success">Pošalji ispit</button>
        </div>
      </div>

      <div class="col-sm-8">
        <div ng-if="firstLogin"></div>
        <div class="jumbotron" ng-init="list.init()">
          <h2>{{$storage.odabraniTest}} </h2>
          <br>
          <h3>Popis zadataka:</h3>
   	      <div class="list-group">
            <a ng-repeat="zadatak in $storage.zadatci"
            ng-class="{'list-group-item list-group-item-danger' : $storage.zadatciBodovi[zadatak.broj_zadatka] == 0,
            'list-group-item list-group-item-warning' : $storage.zadatciBodovi[zadatak.broj_zadatka] > 0 && $storage.zadatciBodovi[zadatak.broj_zadatka] < 10,
            'list-group-item list-group-item-success' : $storage.zadatciBodovi[zadatak.broj_zadatka] == 10}">

            <h4 ng-click="list.odaberi(zadatak, zadatak.broj_zadatka)" class="list-group-item-heading">{{zadatak.naziv}} 
              <span class="pull-right">{{$storage.zadatciBodovi[zadatak.broj_zadatka]}}  / 10</span>
            </h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
