<div class="main">
  <div class="failMessage" ng-show="$storage.loginSuccess == false">
    <div  ng-if="$storage.loginSuccess == false " ng-init="task.error()"></div>
  </div>
  	
    <div class="container" ng-hide="$storage.loginSuccess == false" ng-controller="TaskController as task">
      <div class="jumbotron horizontal-center" ng-init="task.init()">
      	<h2>{{task.nazivZadatka}}</h2>
        <pre>{{task.tekstZadatka}}</pre>
        <br>
        
				<form name= "formTest" class="form-horizontal">
        	<div class="form-group">
          	<p>Kod zadatka:</p>
          	<div  
          	   ui-ace="
               {
                useWrapMode : true,
                showGutter: true,
                mode: 'c_cpp',
                fontsize: '30pt',
                onLoad: aceLoaded,
                onChange: aceChanged,
                rendererOptions: { fontSize: 16 } 
               }"
               ng-model="$storage.zadatciZadnjiKod[$storage.odabraniZadatakID]"
          	   required
          	   rows="20" 
          	   id="editor">
						</div>
          </div>
                  
          <button 
            ng-disabled="formTest.$invalid"
            ng-click="task.send($storage.zadatciZadnjiKod[$storage.odabraniZadatakID])"
            type="submit" 
            class="btn btn-success pull-right btn-md">Pošalji
          </button>
          
          <br>
        </form>
  		</div>
  	</div>
  </div>
