<div class="main" ng-controller="TestoviController as test">
  <h2>{{testovi[editTestID-1].naziv}}</h2>
  <p>Lista zadataka</p>
    <div class="table-responsive">
      <table style="text-align : left" class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Tekst</th>
            <th>Ins</th> 
            <th>Outs</th>
            <th>Test_ID</th>
            <th>Broj_zadatka</th>
          </tr>
        </thead>
  
        <tbody>
          <tr ng-repeat="zadatak in zadatci | filter:search">
            <td>{{zadatak.id}}</td>
            <td>{{zadatak.naziv}}</td>
            <td>{{zadatak.tekst}}</td>
            <td>{{zadatak.ins}}</td>
            <td>{{zadatak.outs}}</td>
            <td>{{zadatak.test_id}}</td>
            <td>{{zadatak.broj_zadatka}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>