html {
  height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Yantramanav', sans-serif;
  
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  position: relative;
  height: 100%;
}

.horizontal-center {
  margin:0 auto;
  margin-left : 10%;
  margin-right : 10%;
  margin-top : 10%;
}

.popup-center {
  margin:0 auto;
  margin-left : 10%;
  margin-right : 10%;
  margin-top : 2%;
}

.task-center {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 8%;
}

#naslov {
  color : inherit;
  text-decoration: none;
}

.link:hover, .link:active {
  color: #2b542c;
  text-decoration: none;
}

.link, .link:link{
  color: #49904a;
  text-decoration: none;
}

.link:visited{
  color: #49904a;
  text-decoration: none;
}

.form-control:focus {
  border-color : #909090;
}

.form-control.ng-invalid.ng-dirty, .form-control.ng-invalid.ng-dirty {
  border-color : #e60000;
}

.form-control.ng-valid {
  border-color : #3c763d;
}

/*
  Shade of grey
*/

.list-group-item-danger {
  color: #333333;
  background-color: #CCCCCC;
}
a.list-group-item-danger,
button.list-group-item-danger {
  color: #333333;
}
a.list-group-item-danger .list-group-item-heading,
button.list-group-item-danger .list-group-item-heading {
  color: inherit;
}
a.list-group-item-danger:hover,
button.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:focus {
  color: #333333;
  background-color: #bfbfbf;
}
a.list-group-item-danger.active,
button.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
button.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus,
button.list-group-item-danger.active:focus {
  color: #fff;
  background-color: #CCCCCC;
  border-color: #333333;
}

pre {
  display: block;
  border: none;
  white-space: pre-line;
  word-break: normal;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Yantramanav', sans-serif;
  font-size: 16px;
  unicode-bidi: embed;
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
  from {
      transform: scale(1) rotate(0deg);
  }
  to {
      transform: scale(1) rotate(360deg);
  }
}
@-webkit-keyframes spin2 {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
  }
}

.ace_editor {
  height: 400px;
}
