<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="MainController as main" ng-cloak>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title ng-bind="$storage.hTitle"></title>

	<script src="../js/angular/angular.js" type="text/javascript"></script>
	<script src="../js/angular/angular-route.js" type="text/javascript"></script>
	<script src="../js/angular/ngStorage.min.js" type="text/javascript"></script>
	<script src="../js/angular/angular-filter.js" type="text/javascript"></script>
	<script src="../js/angular/ng-text-truncate.js" type="text/javascript"></script>
	<script src="../js/angular/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
	<script src="../js/ace/ui-ace.min.js" type="text/javascript"></script>
	<script src="../js/ace/ace.js" type="text/javascript"></script>
	<script src="../js/ace/mode-c_cpp.js" type="text/javascript"></script>
	<script src="../js/sweetalert/sweetalert.min.js" type="text/javascript"></script>

	<script src="../js/controllers/app_front.js"></script>
	<script src="../js/controllers/controller.js" type="text/javascript"></script>
	<script src="../js/controllers/user/list.js" type="text/javascript"></script>
	<script src="../js/controllers/user/login.js" type="text/javascript"></script>
	<script src="../js/controllers/user/task.js" type="text/javascript"></script>
	<script src="../js/controllers/admin/admin.js" type="text/javascript"></script>
	<script src="../js/controllers/admin/users.js" type="text/javascript"></script>
	<script src="../js/controllers/admin/testovi.js" type="text/javascript"></script>
	<script src="../js/controllers/admin/logs.js" type="text/javascript"></script>
	<script src="../js/controllers/admin/grades.js" type="text/javascript"></script>

	<link href="../css/reset.css" rel="stylesheet">
	<link href="../css/sweetalert.css" rel="stylesheet">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu|Yantramanav" rel="stylesheet">
</head>

<body ng-controller="MainController as main">
	<div>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">

				<div class="navbar-header">
					<a class="navbar-brand" id="naslov" ng-href="{{$storage.rutaNazad}}">
       	 		C<span style="color: #0fcb12">ee </span>- C elektronički evaluator
      		</a>
				</div>

				<ul class="nav navbar-nav navbar-left">
					<p class="navbar-text">Sustav za evaluaciju zadataka iz informatike.</p>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<p class="navbar-text" ng-show="$storage.loginSuccess">Prijavljeni korsinik : {{$storage.ime_prezime}}</p>
					<p class="navbar-text" ng-hide="$storage.loginSuccess || $storage.adminOn">Korisnik nije prijavljen!</p>
					<p class="navbar-text" ng-show="$storage.adminOn">Admin prijavljen!</p>
					<li ng-show="$storage.loginSuccess || $storage.adminOn">
					<a ng-click="main.logOut(brojBodova)"> <span class="glyphicon glyphicon-log-out"></span> Odjavi se</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div ng-view></div>

</body>

</html>