<div class="main">
  <div class="failMessage" ng-show="$storage.adminOn == false">
    <div ng-if="$storage.adminOn == false" ng-init="task.error()"></div>
  </div>
  	
  <div class="container" ng-if="$storage.adminOn" ng-init="logs.init()">
    <div class="jumbotron horizontal-center">
      <div class="table-responsive">
        <h2>Popis logova: </h2>
        
        <form name="formLgn">
        <div class="form-group">
          <label for="usr">Trazi:</label>
          <input type="text" required class="form-control" ng-model="search.$">
        </div>
        </form>
      </div>

      <br>
      <br>

      <table style="text-align : left" class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>User_ID</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Timestamp</th>
            <th>IP</th> 
            <th>Logout time</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="log in $storage.logsArray | filter:search">
            <td>{{log.id}}</td>
            <td>{{log.user_id}}</td>
            <td>{{$storage.users[log.user_id-1].ime}}</td>
            <td>{{$storage.users[log.user_id-1].prezime}}</td>
            <td>{{log.timestamp}}</td>
            <td>{{log.ip}}</td>
            <td>{{log.logout_time}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>