<div class="main">
  <div class="failMessage" ng-show="adminOn == false">
    <div ng-if="adminOn == false" ng-init="task.error()"></div>
  </div>

  <div class="main" ng-init="test.init()">
    <div class="container">
      <div class="jumbotron horizontal-center">
        <h2>Lista testova</h2>
        <div class="row">
          <div class="form-group col-lg-8">
            <select name="test" ng-model="test.test_id" ng-options="test.id as test.naziv for test in $storage.testovi | unique:'test'"
              class="form-control input-large" id="test">
                <option selected disabled value="">---Svi testovi---</option>
              </select>
          </div>

          <div class="form-group col-lg-4">
            <button ng-click="addTestModal()" class="btn btn-sm btn-danger">Dodaj test</button>
            <button ng-disabled="test.test_id == null" ng-click="editTestModal(test.test_id)" class="btn btn-sm btn-warning">Uredi test</button>
            <button ng-disabled="test.test_id == null" ng-click="test.delTest(test.test_id)" class="btn btn-sm btn-warning">Delete test</button>
          </div>
        </div>

        <button ng-click="addTaskModal()" class="btn btn-sm btn-success">Dodaj zadatak</button>
        <table class="zadatci table table-hover" style="text-align : left" class="table">

          <thead>
            <tr>
              <th>Broj zadatka</th>
              <th>Naziv</th>
              <th>Tekst zadatka</th>
              <th>Ins</th>
              <th>Outs</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="zadatak in $storage.zadatci | filter:test">
              <td>{{zadatak.broj_zadatka}}</td>
              <td>{{zadatak.naziv}}</td>
              <td ng-text-truncate="zadatak.tekst" ng-tt-words-threshold="20" ng-tt-more-label="Prikaži više" ng-tt-less-label="Sakrij">{{zadatak.tekst}}</td>
              <td ng-text-truncate="zadatak.ins" ng-tt-chars-threshold="20" ng-tt-more-label="Prikaži više" ng-tt-less-label="Sakrij">{{zadatak.ins}}</td>
              <td ng-text-truncate="zadatak.outs" ng-tt-chars-threshold="20" ng-tt-more-label="Prikaži više" ng-tt-less-label="Sakrij">{{zadatak.outs}}</td>
              <td><button ng-click="editTaskModal(zadatak.test_id, zadatak.id, zadatak.broj_zadatka, zadatak.naziv, zadatak.tekst, zadatak.ins, zadatak.outs)"
                  class="btn btn-xs btn-warning">Uredi</button></td>
              <td><button ng-model="zadatak.id" ng-click="test.delTask(zadatak.id)" class="btn btn-xs btn-danger">Obriši</button></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
</div>