<div class="main">
  <div class="container">
    <div class="jumbotron horizontal-center">
      <h2>Prijava</h2>
      <br>
      <form name="formLgn" class="form-horizontal">
        <div class="form-group" ng-init="login.init()">
          <label class="control-label col-sm-2" for="ime">Ime:</label>
          <div class="col-sm-10">
            <input name="ime" 
                   type="text" 
                   id="ime" 
                   ng-model="user.ime" 
                   required 
                   novalidate 
                   class="form-control"
                   placeholder="Unesi svoje ime"/> 
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="prez">Prezime:</label>
          <div class="col-sm-10">
            <input name="prezime" 
                   type="text" 
                   id="prezime" 
                   ng-model="user.prezime" 
                   required 
                   novalidate 
                   class="form-control" 
                   placeholder="Unesi svoje prezime"/>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="password">Lozinka :</label>
          <div class="col-sm-10">
            <input type="password" 
                   name="password" 
                   id="password" 
                   ng-model="user.password" 
                   ng-maxlength="20" 
                   ng-minlength="6" 
                   required 
                   novalidate 
                   class="form-control"
                   placeholder="Unesi lozinku" />
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="razred">Razred:</label>
          <div class="col-sm-5">
            <select name="razred" 
                    ng-model="user.razred" 
                    ng-options="razred as razred for razred in $storage.razredi | unique:'razred'"
                    required 
                    class="form-control" 
                    id="test">
            <option selected disabled value="">---Izaberi razred---</option>
          </select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="raz">Odabir testa:</label>
          <div class="col-sm-5">
            <select name="test" 
                    id="test"
                    ng-model="user.test" 
                    ng-options="test.id as test.naziv for test in $storage.testovi | unique:'test'"
                    required 
                    class="form-control"> 
            <option selected disabled value="">---Izaberi test---</option>
            </select>
          </div>

          <span>
          
          <button 
            ng-click="login.send(user.ime, user.prezime, user.password, user.razred, user.test)"
            ng-disabled="formLgn.$invalid"
            type="submit" 
            class="btn btn-success btn-default">
            <span ng-show="loadingSpinner == 'Logging in'"><i class="glyphicon glyphicon-refresh spinning"></i></span>          Prijava
          </button>
          </span>
        </div>
      </form>

      <span>
        <b style="color: #ae0c0a">Napomena!</b> 
        <b class="text-danger">Za prijavu se koriste hrvatski znakovi. Prijava je case sensitive.</b>
      </span>
      <p></p>
      <span>Klikni <b class="link" ng-click="login.salabahter()">ovdje</b> za službeni šalabahter.</span>

    </div>
  </div>
</div>